* {
    margin: 0;
    padding: 0;
    transition: 0;
    /* user-select: none; */
    font-family: Arial, Helvetica, sans-serif;
    transition: 300ms;
    color: var(--text-body-color)
}

body {
    width: 100vw;
    height: auto;
    background: var(--body-bg);
    overflow-x: hidden;
}

.navigation {
    width: 100%;
    height: 100px;
    color: #000000 !important;
}

.navigation .bg {
    width: 100vw;
    height: 100px;
    overflow: hidden;
}

.navigation .bg img {
    width: 100vw;
    height: 300px;
    filter: blur(3px) brightness(1.75);
    transition: 300ms;
}

.navigation:hover .bg img {
    transform: translateY(-100px);
}

.navigation .container {
    transform: translateY(-100px);
    width: 100vw;
    height: 100px;
}

.navigation .container .title {
    width: 100%;
    height: 100px;
    color: #000000 !important;
}

.navigation .container .title .inner {
    width: 50%;
    height: 100px;
}

.navigation .container .title .big-logo {
    height: 40%;
    font-size: 30px;
    height: 100%;
    transform: translateY(20px);
    color: #000000 !important;
}

.navigation .container .title .big-logo strong {
    color: #000000 !important;
}


.navigation .container .title .sub-logo {
    height: 40%;
    transform: translateY(-20px);
    color: #000000 !important;
}

.navigation .container .search {
    width: 600px;
}

#inp-region {
    width: 200px;
    height: 30px;
    text-transform: capitalize;
    outline: none;
    padding: 3px;
    background: #dddddd44;
    border: none;
    color: #ffffff;
}

#inp-region:hover {
    background-color: #00ffff33;
}

#search-region, #fetch-Global {
    width: 60px;
    height: 36px;
    padding: 3px;
    border: none;
    outline: none;
    background-color: #00ffff33;
}

#search-region:hover, #fetch-Global:hover {
    background-color: #00179c71;
}

.region-selection {
    width: 100vw;
    height: 400px;
}

.body .updateDate {
    display: flex;
    flex-flow: row nowrap;    
}

.body .watching {
    display: flex;
    flex-flow: row nowrap;
}

.body .start-screen {
    width: 100vw;
    height: calc(100vh - 140px);
}

.body .start-screen.hidden {
    height: 0px;
    overflow: hidden;
}

.body .start-screen .chart {
    width: 300px;
    height: 300px;
}

.body .start-screen .chart svg {
    width: 220px;
    height: 220px;
}

.body .start-screen .chart svg circle {
    fill: none;
    stroke: var(--graph-bg);
    stroke-width: 30px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 502.65;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.body .start-screen .chart svg .c2 {
    stroke: rgba(0, 255, 255, 0.8);
    stroke-dashoffset: 502.65;
}

.body .start-screen .chart svg .c3 {
    stroke: rgba(255, 0, 0, 0.8);
    stroke-dashoffset: 502.65;

}

.body .start-screen .chart svg .c4 {
    stroke: rgba(222, 184, 135, 0.8);
    stroke-dashoffset: 502.65;
}

.body .start-screen .information {
    width: 60%;
    height: 300px;
}

.body .start-screen .information .charted-region {
    width: 100%;
    height: 100px;
}

.body .start-screen .information .charted-region .descript {
    width: 90%;
    height: 30px;
}

.body .start-screen .information .charted-region .descript .color-fg {
    width: 20px;
    height: 20px;
}

.body .start-screen .information .charted-region .descript .color-fg.fg-c2 {
    background-color: aqua;
}

.body .start-screen .information .charted-region .descript .color-fg.fg-c3 {
    background-color: red;
}

.body .start-screen .information .charted-region .descript .color-fg.fg-c4 {
    background-color: burlywood;
}

.body .start-screen .information .charted-region .descript .name {
    width: 60%;
}

.body .start-screen .information .charted-region .descript .percentage {
    width: 30%;
    font-family: 'Sriracha', cursive;
}

.body .start-screen .global-infor {
    width: 100%;
    height: 200px;
}

.body .start-screen .global-infor .sum {
    width: 30%;
    height: 160px;
}

.body .start-screen .global-infor .sum .inf {
    width: 100%;
    height: 60px;
}

.body .start-screen .global-infor .sum .inf label[id^="sum-inf-"]{
    font-family: 'Sriracha', cursive;
}

.popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 100;
    /* backdrop-filter: blur(4px); */
    background-color: #00000033;
    transition: 1s;
}

.popup.show {
    transform: translateY(100%);
}

.popup .search-close {
    display: absolute;
    width: 50px;
    height: 30px;
    transform: translateX(100%);
    z-index: 100;
}

.popup:hover .search-close {
    transform: translateX(-100%);
    background: var(--popup-bg);
}

.popup .search-close:hover {
    box-shadow: #00000044 2px 2px 2px;
    background-color: #ff000066;
}

.popup .container {
    width: 600px;
    height: 400px;
    box-shadow: #00000033 3px 3px 3px;
    background: var(--popup-bg);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 130;
}

#region-tab-sl {
    width: 100%;
}

#region-tab-sl td {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#region-tab-sl td:hover {
    transform: translateY(-2px);
    box-shadow: #00000033 2px 2px 2px, #00000033 -1px -1px 2px;
}

.footer {
    width: 100vw;
    height: 40px;
    background: #00ff0033;
}

.footer .footer-container {
    width: 100%;
    height: 20px;
    font-size: x-small;
}

.footer .personize {
    width: 100px;
    height: 40px;
}

.footer .personize .lamp {
    width: 50px;
    height: 20px;
    background-color: var(--body-bg);
    border-radius: 20px;
}

.footer .personize .lamp .triggle {
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background-color: var(--body-bg);
    border: 1px solid #ff0000;
    cursor: pointer;
}