:root {
    --main-bg: #dddddd;
    --title-bg1: #0095ff;
    --title-bg2: #be3c97;
    --search-panel-bg: #5d497e;
    --search-lab-txt-col: #c3faff;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical {
    flex-direction: column;
}